body,html,#root{
  height: 100%;
  
}
body::-webkit-scrollbar{
  display: none;
}


html{
  font-size: 18px;

}

h1{
  padding: .77rem 0;
  background-color: black;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-size:1.88rem;
  color:white;
}
h1 .highlight{
  color:#1DB954;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  
}

.App{
  /* max-height:100%;
  max-width: 100%; */
  background-image: url('../mainbackground.jpg');
  
  padding: 0 17% 45% 17%;
  background-color: rgb(235, 227, 212);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color:white;
  
}


.App-playlist{
  display:flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px){
  .App-playlist{
    align-items: center;
    flex-direction: column;
  }
}